<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.moneyflow">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:label="moneyflow"
        android:icon="@mipmap/ic_launcher">

        <!-- Your activities, meta-data, etc. -->

        <!-- FileProvider configuration should be inside the <application> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.moneyflow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Other application elements -->
        
    </application>

</manifest>
